<%= form_for([@project,@project.properties.build], :html => { :class => "form-inline"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Type" %>
    <%= f.text_field :value, :placeholder => "Value" %>
    <%= f.submit %>
  </div>
<% end %>
