<%= form_for(@project_property, :url => project_properties_path(params[:id],@project_property),:method => "post", :html => { :class => "form-inline"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Type" %>
    <%= f.text_field :value, :placeholder => "Value" %>
    <%= f.collection_select :datatype, GlobalConstants::PROPERTY_TYPE.keys, :downcase,:downcase  %>
    <%= f.submit('Create Property') %>
  </div>
<% end %>