<h1>Listing project_properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_properties.each do |project_property| %>
  <tr>
    <td><%= project_property.name %></td>
    <td><%= project_property.value %></td>
    <td><%= link_to 'Show', project_property %></td>
    <td><%= link_to 'Edit', edit_project_property_path(project_property) %></td>
    <td><%= link_to 'Destroy', project_property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project property', new_project_property_path %>
