<h2>Sample: <%= @sample.code %></h2>
<%= render 'sample_properties/form' %>
<h3>Properties (<%= @sample_properties.count %>)</h3>
<% if @sample_properties.any? %>
	<ol class="no_numbers">
		<%= render @sample_properties%>
	</ol>  
<% end %>

<% if @sample.subject_id.nil? %>
	<%= render 'subjects/select_form' %>
<% else %>
<h3>Subject</h3>
	<ol class="no_numbers">
		<%= render @subject %>
	</ol>
<% end%>
<%= link_to 'Back', project_path(params[:project_id]) %> |
<%= link_to 'Edit', edit_project_sample_set_sample_path(@project,@sample_set,@sample) %> 