<li id="samprop_<%= sample_property.id %>">
	<%= link_to 'Edit', edit_sample_property_path(sample_property) %>
	<%= link_to 'Destroy', sample_property, confirm: 'Are you sure?', method: :delete %>
	<strong><%= sample_property.name %>:</strong>
	<%= sample_property.convert_value %>

</li>