<h1>Listing sample_properties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sample_properties.each do |sample_property| %>
  <tr>
    <td><%= sample_property.name %></td>
    <td><%= sample_property.value %></td>
    <td><%= link_to 'Show', sample_property %></td>
    <td><%= link_to 'Edit', edit_sample_property_path(sample_property) %></td>
    <td><%= link_to 'Destroy', sample_property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sample property', new_sample_property_path %>
