<p id="notice"><%= notice %></p>

<p>
  <b>Identifier:</b>
  <%= @orf_aa.identifier %>
</p>

<p>
  <b>Assembly:</b>
  <%= @orf_aa.assembly_id %>
</p>


<%= link_to 'Edit', edit_orf_aa_path(@orf_aa) %> |
<%= link_to 'Back', orf_aas_path %>
