<p>
  <%= f.label :name, "Property" %><br />
  <%= f.text_field :name %><br />
  <%= f.label :value, "Value" %><br />
  <%= f.text_field :value %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %><br />
</p>