<p>
<div>
  <%= f.label :name, "Property" %>
  <%= f.text_field :name %><br />
</div>
<div>
  <%= f.label :value, "Value" %>
  <%= f.text_field :value %><br />
</div>
<div>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %><br />
</div>
</p>