<h2>Project: <%= @project.name %></h2>
<div>
	<%= render 'project_properties/form' %>
</div>
<h3>Properties (<%= @project.properties.count %>)</h3>
<% if @project.properties.all.any? %>
<ol class="no_numbers">
	<%= render @project_properties.all %>
</ol>  
<% end %>

<div id="sample_set">
	<%= render @sample_set%>
</div>
<%= render 'samples/form' %>
<h3>Samples (<%= @sample_set.samples.count %>)</h3>
<div>
	<ol class="no_numbers">
		<%= render @sample %>
	</ol>
</div>
<%= link_to 'Back', projects_path %> |
<%= link_to 'Edit', edit_project_path(@project) %>
