<p id="notice"><%= notice %></p>

<h2>Project: <%= @project.name %></h2>

<div id="project_properties">
  <h3>Properties (<%= @project.properties.count %>)</h3>
  <div>
    <% if @project.properties.any? %>
      <ol>
        <%= render @project_properties %>
      </ol>  
    <% end %>
  </div>
</div>
<div id="properties">
  <%= render 'project_properties/form' %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
