<%= form_for(@subject, :method => "post", :url=> project_sample_set_sample_subjects_path(params[:project_id],params[:sample_set_id],params[:sample_id],@subject), :html => { :class => "form-inline"}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="form">
    <%= f.text_field :code, :placeholder => "Code" %>
    <%= f.hidden_field :project_id, value: params[:project_id]%>
    <%= hidden_field_tag :sample_id, params[:sample_id]%>
    <%= f.submit('Create Subject') %>
    </div>
<% end %>
