<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assembly.name %>
</p>

<p>
  <b>Description:</b>
  <%= @assembly.description %>
</p>

<p>
  <b>Project:</b>
  <%= @assembly.project.name %>
</p>

<p>
  <b>ORF sets:</b><br/>
  <% @assembly.orf_sets.each do |orf_set| %>
    <%= orf_set.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
